# Node modules
node_modules/

# React Native build folders
ios/build/
android/build/

# Gradle files
android/.gradle/
.gradle/

# IDE settings (optional)
.idea/
.vscode/

# Environment variables
.env

# macOS files
.DS_Store

# Logs
*.log

# CocoaPods dependencies
ios/Pods/

# Keystore files
*.keystore
